{% extends 'base.html' %}

{% block title %}
<title>Admin Dashboard</title>
{% endblock %}

{% block style %}
<style>
    /* Custom CSS styles */
    .dashboard-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dashboard-item {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .dashboard-item h3 {
        margin-top: 0;
    }

    .count {
        font-size: 24px;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{url_for('faculty.view_students')}}">View Students</a>
    <a href="{{url_for('faculty.View_course_target')}}">view/Set Course Duration</a>
    <a href="{{url_for('faculty.view_student_attendance')}}">View Attendance</a>
    <a href="{{url_for('faculty.set_timetable')}}">View/set Times</a>
    <a href="{{url_for('faculty.logout')}}">Logout</a>
</div>
{% endblock %}