{% extends 'base.html' %}

{% block title %}
<title>Update Department</title>
{% endblock %}

{% block style %}
<style>
    /* Custom CSS styles */
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2>Update Department</h2>
        <a href="{{url_for('admin.view_departments')}}" class="btn btn-success">Back</a>

        <form action="{{ url_for('admin.update_department', dept_id=dept_details.department_id) }}" method="POST">
            <div class="form-group">
                <label for="dept_name">Department Name:</label>
                <input type="text" class="form-control" id="dept_name" name="dept_name"
                    value="{{ dept_details.department_name }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Department</button>
        </form>
    </div>
</div>
{% endblock %}