{% extends 'base.html' %}

{% block title %}
<title>View Faculty</title>
{% endblock %}

{% block style %}
<style>
    /* Custom CSS styles */
    .faculty-table {
        width: 100%;
        border-collapse: collapse;
    }

    .faculty-table th,
    .faculty-table td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .faculty-table th {
        background-color: #f2f2f2;
    }

    .action-buttons {
        margin-top: 20px;
    }

    .action-buttons button {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2>View Faculty</h2>
    <div class="action-buttons">
        <a href="{{ url_for('admin.add_details') }}" class="btn btn-primary">Add Faculty</a>
        <a href="{{url_for('admin.dashboard')}}" class="btn btn-success">Back</a>
        <!-- <a href="#" class="btn btn-success">Update Faculty</a>
        <a href="#" class="btn btn-danger">Delete Faculty</a> -->
    </div>
    <table class="faculty-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Course</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for faculty in faculty_details %}
            <tr>
                <td>{{ faculty.name }}</td>
                <td>{{ faculty.department_name }}</td>
                <td>{{ faculty.course_name or 'N/A' }}</td>
                <td>{{ faculty.email }}</td>
                <td>{{ faculty.role }}</td>
                <td>
                    <a href="{{ url_for('admin.update_details', update_id=faculty.faculty_id,role=faculty.role) }}"
                        class="btn btn-info">Update</a>
                    <form action="{{ url_for('admin.delete_details', delete_id=faculty.faculty_id,role=faculty.role) }}" method="post"
                        style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}